set_location IN_MUX_bfv_9_6_0_ 9 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_7_0_ 8 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_7_0_ 9 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_5_0_ 7 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_6_0_ 7 6 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 12 6 6 #SB_LUT4
set_location pwm0.pwm_out_THRU_LUT4_0 9 7 6 #SB_LUT4
set_location pwm0.pwm_out 9 7 6 #SB_DFFE
set_location pwm0.position_cry_c[0] 9 6 0 #SB_CARRY
set_location pwm0.brojac[5] 8 7 5 #SB_DFFE
set_location pwm0.PWM_proces.un8_brojac_cry_3_c 9 7 3 #SB_CARRY
set_location pr1.new_clk_e 7 7 4 #SB_DFFE
set_location pr1.counter_cry_c[1] 7 5 1 #SB_CARRY
set_location pr1.CLK_out_RNO_1 7 6 5 #SB_LUT4
set_location pwm0.brojac_RNO[1] 8 7 1 #SB_LUT4
set_location pr1.counter_RNO[2] 7 5 2 #SB_LUT4
set_location pr1.CLK_out_RNI00VA 7 6 2 #SB_LUT4
set_location pwm0.brojac_cry_c[1] 8 7 1 #SB_CARRY
set_location pwm0.PWM_proces.un8_brojac_cry_4_c 9 7 4 #SB_CARRY
set_location pr1.counter[3] 7 5 3 #SB_DFF
set_location pwm0.position_cry_c[4] 9 6 4 #SB_CARRY
set_location pwm0.position_RNO[3] 9 6 3 #SB_LUT4
set_location pwm0.brojac[1] 8 7 1 #SB_DFFE
set_location pwm0.PWM_proces.un8_brojac_cry_0_c 9 7 0 #SB_CARRY
set_location pr1.counter_cry_c[5] 7 5 5 #SB_CARRY
set_location pr1.counter_RNO[7] 7 5 7 #SB_LUT4
set_location pr1.counter_RNIM7991[8] 8 6 0 #SB_LUT4
set_location pwm0.position[0] 9 6 0 #SB_DFFE
set_location pwm0.brojac_cry_c[4] 8 7 4 #SB_CARRY
set_location pwm0.brojac_RNO[5] 8 7 5 #SB_LUT4
set_location pwm0.PWM_proces.un8_brojac_cry_3_c_inv 9 7 3 #SB_LUT4
set_location pr1.counter_RNID57F[5] 7 6 1 #SB_LUT4
set_location pr1.CLK_out 7 6 7 #SB_DFF
set_location pr1.counter_RNI6IFO2[0] 8 6 1 #SB_LUT4
set_location pr1.counter[7] 7 5 7 #SB_DFF
set_location pwm0.position_cry_c[3] 9 6 3 #SB_CARRY
set_location pwm0.PWM_proces.un8_brojac_cry_2_c_inv 9 7 2 #SB_LUT4
set_location pr1.counter_cry_c[0] 7 5 0 #SB_CARRY
set_location pr1.CLK_out_RNO_0 7 6 6 #SB_LUT4
set_location pr1.counter_RNO[3] 7 5 3 #SB_LUT4
set_location pr1.counter_RNINC9K[6] 8 6 5 #SB_LUT4
set_location pwm0.position[4] 9 6 4 #SB_DFFE
set_location pwm0.brojac_cry_c[0] 8 7 0 #SB_CARRY
set_location pwm0.position_RNO[5] 9 6 5 #SB_LUT4
set_location pwm0.brojac_RNO[0] 8 7 0 #SB_LUT4
set_location pwm0.brojac_RNIQ79U1[5] 8 6 4 #SB_LUT4
set_location pwm0.brojac_cry_c[2] 8 7 2 #SB_CARRY
set_location pwm0.brojac[2] 8 7 2 #SB_DFFE
set_location pwm0.PWM_proces.un8_brojac_cry_0_c_inv 9 7 0 #SB_LUT4
set_location pr1.counter_cry_c[4] 7 5 4 #SB_CARRY
set_location pr1.counter_RNO[4] 7 5 4 #SB_LUT4
set_location pr1.counter_RNINC9K_0[6] 8 6 3 #SB_LUT4
set_location pr1.counter[2] 7 5 2 #SB_DFF
set_location pwm0.position[1] 9 6 1 #SB_DFFE
set_location pwm0.brojac_RNO[2] 8 7 2 #SB_LUT4
set_location pwm0.position_RNO[2] 9 6 2 #SB_LUT4
set_location pwm0.brojac[0] 8 7 0 #SB_DFFE
set_location pr1.new_clk_e_RNIF4BP1 8 6 6 #SB_LUT4
set_location pr1.counter_cry_c[6] 7 5 6 #SB_CARRY
set_location pr1.counter_RNO[6] 7 5 6 #SB_LUT4
set_location pr1.counter[0] 7 5 0 #SB_DFF
set_location pr1.CLK_out_RNIGNQL 7 6 4 #SB_LUT4
set_location pwm0.position_cry_c[2] 9 6 2 #SB_CARRY
set_location pwm0.position[3] 9 6 3 #SB_DFFE
set_location pwm0.brojac_RNO[4] 8 7 4 #SB_LUT4
set_location pwm0.PWM_proces.un8_brojac_cry_5_c 9 7 5 #SB_CARRY
set_location pwm0.position_RNO[0] 9 6 0 #SB_LUT4
set_location pwm0.PWM_proces.un8_brojac_cry_5_c_inv 9 7 5 #SB_LUT4
set_location pwm0.PWM_proces.un8_brojac_cry_1_c_inv 9 7 1 #SB_LUT4
set_location pr1.new_clk_e_RNO 7 7 4 #SB_LUT4
set_location pr1.counter_RNO[0] 7 5 0 #SB_LUT4
set_location pr1.counter_RNI0QOM4[0] 8 6 2 #SB_LUT4
set_location pr1.counter[6] 7 5 6 #SB_DFF
set_location GND -1 -1 -1 #GND
set_location pwm0.position[5] 9 6 5 #SB_DFFE
set_location pwm0.PWM_proces.un8_brojac_cry_2_c 9 7 2 #SB_CARRY
set_location pr1.counter[4] 7 5 4 #SB_DFF
set_location pwm0.brojac[3] 8 7 3 #SB_DFFE
set_location pr1.counter_cry_c[3] 7 5 3 #SB_CARRY
set_location pr1.counter_RNO[5] 7 5 5 #SB_LUT4
set_location pwm0.position_RNO[4] 9 6 4 #SB_LUT4
set_location pwm0.brojac_RNO[3] 8 7 3 #SB_LUT4
set_location pwm0.PWM_proces.un8_brojac_cry_4_c_inv 9 7 4 #SB_LUT4
set_location pr1.counter_RNIG59K[8] 7 6 3 #SB_LUT4
set_location pwm0.brojac_cry_c[3] 8 7 3 #SB_CARRY
set_location pwm0.PWM_proces.un8_brojac_cry_1_c 9 7 1 #SB_CARRY
set_location pr1.counter[1] 7 5 1 #SB_DFF
set_location pr1.counter[8] 7 6 0 #SB_DFF
set_location pwm0.position_RNO[1] 9 6 1 #SB_LUT4
set_location pr1.counter_cry_c[7] 7 5 7 #SB_CARRY
set_location pr1.counter_RNO[1] 7 5 1 #SB_LUT4
set_location pwm0.position[2] 9 6 2 #SB_DFFE
set_location pr1.counter_RNO[8] 7 6 0 #SB_LUT4
set_location pr1.counter[5] 7 5 5 #SB_DFF
set_location pwm0.position_cry_c[1] 9 6 1 #SB_CARRY
set_location pwm0.brojac[4] 8 7 4 #SB_DFFE
set_location pr1.counter_cry_c[2] 7 5 2 #SB_CARRY
set_location pr1.CLK_out_RNO 7 6 7 #SB_LUT4
set_io LED2 53
set_io LED0 59
set_io CLK 13
set_io LED3 51
set_io LED1 56
